<html>
<form id="form-submit" class="form-submit" method="post" {{ form_enctype(form) }}>
    <div class="wide-3">
        <div class="explore">
            <div class="prt-cont">
                <div class="property-title">
                    <h3>A propos du directeur</h3>
                    <h5 class="team-color">Lorem Ipsum is simply dummy text of the printing and  typesetting industry. </h5>
                </div>
            </div>
        </div>
        <div class="prt-cont">
            <hr>
            <div class="form-group">
                {{ form (form) }}
            </div>
        </div>
    </div>
</form>
</html>