<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <script src="{{ asset('home/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>MonbonHLM - Ajouter une annonce</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Ajouter une annonce</h2>
                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    {% if app.user.annonce.count<=('0')%}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ form (form) }}
                </div>
            </div>
        </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="notification error closeable">
                <p><span>Erreur!</span> Vous avez déjà une annonce. Vous pouvez la modifier <span><a href="{{ path('fos_user_profile_show') }}">ici</a></span></p>
                <a class="close" href="#"></a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="margin-top-50"></div>
    {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}

</div>
<!-- Wrapper / End -->

</body>
</html>