<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>Annonces</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Toutes les annonces</h2>
                    <!-- <span>Tagline</span> -->

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Annonces</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">

        <div class="row">

            <!-- Projects -->
            <div class="projects isotope-wrapper">
                {% for annonce in annonceTab %}
                <!-- Item -->
                <div class="isotope-item col-md-4 col-sm-6 kitchens">
                    <a href="{{ path('monbon_hlm_home_details_annonces', {'id':annonce  .id}) }}">
                        <img src="{{ asset('uploads/annonces/1/'~annonce.PhotoPrincipal.id~'.'~annonce.PhotoPrincipal.path) }}" alt="" style="min-width: 500px; height: auto;"/>
                        <div class="overlay">
                            <div class="overlay-content">
                                <h4>{{ annonce.quartier.nom }}</h4>
                                <span>{{ annonce.typelogement.type }}</span>
                            </div>
                        </div>
                        <div class="plus-icon"></div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% include 'MonbonHLMHomeBundle:Pagination:pagination.html.twig' %}

        </div>
    </div>

    {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}

</div>
<!-- Wrapper / End -->

</body>
</html>