<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>MonbonHLM - Quartiers</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <div class="clearfix"></div>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Quartier</h2>
                    <span>Annonce disponible dans ces quartiers</span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{path ('monbon_hlm_home_homepage')}}">Accueil</a></li>
                            <li>Quartiers</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">
                <div class="container">
                    <div class="row">
                        {% for quartier in quartierTab %}
                            <div class="col-md-4 col-sm-6">
                                <a href="{{path ('monbon_hlm_home_annonces_quartier', {'id':quartier  .id}) }}" class="project-category">
                                    <figure class="effect">
                                        <img src="{{ asset('uploads/quartiers/'~quartier.photo.id~'.'~quartier.photo.path) }}" />
                                        <figcaption>
                                            <div>
                                                <h3>{{ quartier.nom }}</h3>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>


    </div>
    <div class="margin-top-30"></div>


    {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}


</div>
<!-- Wrapper / End -->

</body>
</html>