<div class="mainbar">

    <div class="container">

        <button type="button" class="btn mainbar-toggle" data-toggle="collapse" data-target=".mainbar-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <div class="mainbar-collapse collapse">

            <ul class="nav navbar-nav mainbar-nav">

                <li>
                    <a href="{{path ('monbon_hlm_dashboard_homepage')}}">
                        <i class="fa fa-dashboard"></i>
                        Dashboard
                    </a>
                </li>

                <li class="dropdown ">
                    <a href="#about" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <i class="fa fa-file"></i>
                        Annonces
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="./ui-buttons.html"><i class="fa fa-angle-right nav-icon"></i> Ajouter une annonce</a></li>
                        <li><a href="./ui-tabs.html"><i class="fa fa-edit nav-icon"></i> Modifier une annonce</a></li>
                        <li><a href="./ui-notifications.html"><i class="fa fa-asterisk nav-icon"></i> Supprimer une annonce</a></li>
                    </ul>
                </li>

                <li class="dropdown ">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <i class="fa fa-user"></i>
                        Mon compte
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="./ui-form-regular.html">
                                <i class="fa fa-check nav-icon"></i>
                                Voir mon profil
                            </a>
                        </li>

                        <li>
                            <a href="./ui-form-extended.html">
                                <i class="fa fa-edit nav-icon"></i>
                                Modifier mon profil
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{path ('monbon_hlm_home_homepage')}}" data-hover="dropdown">
                        <i class="fa fa-external-link"></i>
                        Retour au site principal
                        <span class="caret"></span>
                    </a>
                </li>
            </ul>
            </li>

            </ul>

        </div>

    </div>

</div>