<div class="pagination">
    <div class="pagination-buttons">
        {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
        {% for p in range(max(pagination.page-4, 1),
        min(pagination.page+4, pagination.pages_count)) %}
            <a{% if p == pagination.page %} class="current-page"{% endif %}
                    href="{{ path(pagination.route,
                    pagination.route_params|merge({'page': p})) }}">{{ p }}</a>
        {% endfor %}
    </div>
</div>