Voici l'annonce que vous avez demandé à échanger :

<a href="http://localhost:8888/MonbonHLM/web/app_dev.php/annonce-{{ annonce.id }}" style="color: #ffffff; border-color: #ffffff; border-width: 2px; border-style: solid; text-decoration: none; padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px; border-radius: 4px; font-family: Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 600; line-height: 20px;text-align: center;">Voir mon annonce</a>
