<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>MonbonHLM - Conditions générales</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <div class="clearfix"></div>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Conditions générales</h2>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{path ('monbon_hlm_home_homepage')}}">Accueil</a></li>
                            <li>Conditions générales</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Content
================================================== -->

    <!-- Container -->
    <div class="container">

        <div class="row margin-top-10" style="text-align: justify; display: inline-block">

            <span><strong style="font-size: 20px;">1 -</strong> Ce site est à l’usage exclusif des locataires d’un logement social à Montpellier.</span></br>
            </br>


            <span><strong style="font-size: 20px;">2 -</strong> Les visiteurs s’engagent à n’inscrire aucun propos discriminant ou aucun jugement de valeur lors des échanges sur le site.</span></br>
            </br>

            <span><strong style="font-size: 20px;">3 -</strong> L'accès au site est subordonné à l'accord du bailleur concerné qui se réserve le droit de le refuser si le demandeur ne correspond pas aux critères (pas de contrat de location valide par exemple) ou à la déontologie du site.</span></br>
            </br>

            <span><strong style="font-size: 20px;">4 -</strong> MonbonHLM ne pourra pas être tenu pour responsable en cas d'indisponibilité du site. Une maintenance de ce dernier est assuré 5 jours/ 7 aux heures ouvrables.</span></br>
            </br>

            <span><strong style="font-size: 20px;">5 -</strong> MonbonHLM peut de son propre chef supprimer des informations notées sur le site et qui seraient jugées discriminantes ou erronées.</span></br>
            </br>

            <span><strong style="font-size: 20px;">6 -</strong> Les utilisateurs reconnaissent que les sites et services de MonbonHLM lui appartiennent exclusivement et qu'ils sont protégés par le droit d'auteur et le droit de propriété intellectuelle. Ils s'interdisent de reproduire ou de diffuser, tout ou partie des informations ou des données appartenant à MonbonHLM.</span></br>
            </br>

            <span><strong style="font-size: 20px;">7 -</strong> MonbonHLM se réserve le droit de modifier les présentes conditions générales, à charge par elle d'en avertir ses utilisateurs par messagerie ou par affichage sur l'espace privatif. Les dispositions ainsi modifiées prendront effet de plein droit le jour suivant leur publication. En cas de nouvelle utilisation des services, les utilisateurs seront considérés comme ayant accepté les modifications.</span></br>
            </br>

            <span><strong style="font-size: 20px;">8 -</strong> Les utilisateurs s’engagent à répondre rapidement aux propositions des autres adhérents à la bourse et à se connecter régulièrement, à mettre leur compte en indisponibilité provisoire en cas d’absence. A défaut, les inscriptions pourraient être radiées.</span></br>
            </br>

            <span><strong style="font-size: 20px;">9 -</strong> Les utilisateurs s’engagent à ne pas échanger de logement sans l’accord écrit du bailleur concerné.</span></br>
            </br>

            <span><strong style="font-size: 20px;">10 -</strong> Les utilisateurs s’engagent à prendre toute disposition pour réaliser l’échange dans les meilleures conditions pour favoriser la mutation après accomplissement des formalités administratives.</span></br>
            </br>

            <span><strong style="font-size: 20px;">11 -</strong> Les utilisateurs s’engagent à respecter la liberté de choix des autres adhérents de la bourse et à ne pas insister si l’un d'entre eux ne souhaite pas donner suite à l’échange.</span></br>
            </br>

            <span><strong style="font-size: 20px;">12 -</strong> En cas de départ du logement,  les utilisateurs s'engagent à radier leur inscription sur la bourse. A défaut, 6 semaines après le départ, l'inscription sera radiée.</span></br>
            </br>

            <span><strong style="font-size: 20px;">13 -</strong> Conformément à la loi française "Informatique et libertés" n°78-17 du 6 janvier 1978, les utilisateurs disposent d'un droit d'accès et de rectification aux données les concernant.</span></br>
            </br>

            <span><strong style="font-size: 20px;">14 -</strong> Ce site a été développé par SOFIAN BENATIA : http://www.sofianbenatia.fr.</span></br>
            </br>
        </div>

    </div>

    <div class="margin-top-60"></div>

    {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}


</div>
<!-- Wrapper / End -->

</body>
</html>