<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>MonbonHLM - Fonctionnement</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <div class="clearfix"></div>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Quartier</h2>
                    <span>Annonce disponible dans ces quartiers</span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Accueils</a></li>
                            <li>Quartiers</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Content
================================================== -->

    <!-- Container -->
    <div class="container">

        <div class="row margin-top-10">

            <!-- Stage -->
            <div class="col-md-3 col-sm-6">
                <div class="stage">
                    <i class="reneva icon-9"></i>
                    <h4>Trustworthy</h4>
                    <p>Curabitur sodales massa velit, id dapibus nunc efficitur at. Quisque elementum magna quis ante suscipit, quis fermentum augue viverra.</p>
                    <a href="#" class="button border margin-top-10">Read More</a>
                </div>
            </div>

            <!-- Stage -->
            <div class="col-md-3 col-sm-6">
                <div class="stage">
                    <i class="reneva icon-38"></i>
                    <h4>Experienced</h4>
                    <p>Curabitur sodales massa velit, id dapibus nunc efficitur at. Quisque elementum magna quis ante suscipit, quis fermentum augue viverra.</p>
                    <a href="#" class="button border margin-top-10">Read More</a>
                </div>
            </div>

            <!-- Stage -->
            <div class="col-md-3 col-sm-6">
                <div class="stage">
                    <i class="reneva icon-44"></i>
                    <h4>Free Quotation</h4>
                    <p>Curabitur sodales massa velit, id dapibus nunc efficitur at. Quisque elementum magna quis ante suscipit, quis fermentum augue viverra.</p>
                    <a href="#" class="button border margin-top-10">Read More</a>
                </div>
            </div>

            <!-- Stage -->
            <div class="col-md-3 col-sm-6">
                <div class="stage">
                    <i class="reneva icon-16"></i>
                    <h4>Warranty Beyond</h4>
                    <p>Curabitur sodales massa velit, id dapibus nunc efficitur at. Quisque elementum magna quis ante suscipit, quis fermentum augue viverra.</p>
                    <a href="#" class="button border margin-top-10">Read More</a>
                </div>
            </div>

        </div>

    </div>
    <!-- Container / End -->



    <!-- Parallax Counters -->
    <div id="counters" class="margin-top-60" style="background-image: url(images/parallax-img.jpg)">
        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <h3>Why Choose Us for Your Home Repair Needs?</h3>
                </div>

                <div class="col-md-3">
                    <div class="counter-box">
                        <span class="counter">15</span>
                        <p>Years' Experience</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="counter-box">
                        <span class="counter">1200</span>
                        <p>Repairs Done</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="counter-box">
                        <span class="counter">300</span>
                        <p>Renevations Done</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="counter-box last">
                        <span class="counter">100</span><i>%</i>
                        <p>Satisfied Customers</p>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <!-- Image Edge -->
    <div class="image-edge">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="image-edge-content">
                        <h3 class="headline with-border margin-bottom-40">Why Choose Us?</h3>
                        <ul>
                            <li>
                                <h4><i class="fa fa-check"></i> Trustworthy</h4>
                                <p>Pellentesque venenatis sollicitudin ligula vitae tristique. Nam congue nulla metus, ac molestie lectus lacinia sed. Fusce congue diam ut condimentum.</p>
                            </li>

                            <li>
                                <h4><i class="fa fa-check"></i> Experienced</h4>
                                <p>Pellentesque venenatis sollicitudin ligula vitae tristique. Nam congue nulla metus, ac molestie lectus lacinia sed. Fusce congue diam ut condimentum.</p>
                            </li>

                            <li>
                                <h4><i class="fa fa-check"></i> Guaranteed</h4>
                                <p>Pellentesque venenatis sollicitudin ligula vitae tristique. Nam congue nulla metus, ac molestie lectus lacinia sed. Fusce congue diam ut condimentum.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="edge-bg" style="background-image: url(images/image-edge.jpg)"></div>

    </div>
    <!-- Image Edge / End -->
    <!-- Parallax Counters / End -->

    {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}


</div>
<!-- Wrapper / End -->

</body>
</html>