<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>MonbonHLM - Mentions légales</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <div class="clearfix"></div>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Mentions légales</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{path ('monbon_hlm_home_homepage')}}">Accueil</a></li>
                            <li>Mentions légales</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>

    <!-- Content
================================================== -->
    <div class="container">
        <div class="row sticky-wrapper">
            <!-- Content -->
            <div class="col-md-12 col-sm-12 sticky-wrapper extra-gutter-left">
                <p>Toutes les photos envoyées à MonbonHLM doivent respecter les conditions d'utilisation de MonbonHLM (http://monbonhlm.fr/)
                    et sont soumises à la loi DMCA (Digital Millenium Copyright Act), disponible à l'adresse (www.copyright.gov/legislation/dmca.pdf).
                    Nous vous conseillons de consulter ces deux documents avant de télécharger des photographies vers le site.</br>
                    Notez que nous nous réservons le droit d'examiner ou de refuser les informations comportant des
                    photographies ne respectant pas notre règlement relatif au contenu, notamment si ces photos posent l'un des problèmes
                    suivants :
                </p>
                <ul>
                        <li>contenu illégal ;</li>
                        <li>non-respect des droits d'auteur ;</li>
                        <li>violation de marque commerciale ;</li>
                        <li>contenu pornographique ;</li>
                        <li>incitation à la violence ;</li>
                        <li>incitation à la haine ;</li>
                        <li>non-respect de la confidentialité.</li>
                </ul>
                </br>
                <p>Les photos doivent représenter votre activité/entreprise ou les produits que vous proposez.
                    L'image doit être spécifique à votre fiche descriptive : les logos et images génériques ne sont pas autorisés.
                    Par exemple, si vous possédez une agence de voyages, vous n'êtes pas autorisé à utiliser le logo d'une chaîne hôtelière.
                    Vous êtes toutefois autorisé à utiliser le logo de votre entreprise.</br>
                    </br>
                    En utilisant le site de la bourse d'échange de logement et toutes données ou informations issues de MonbonHLM,
                    vous vous engagez à vous conformer aux Conditions d'utilisation de MonbonHLM, y compris aux Règles de confidentialité de MonbonHLM,
                    ainsi qu'aux conditions d'utilisation complémentaires définies ci-après. Ces conditions,
                    considérées collectivement, sont désignées ci-après "le Contrat".
                </p>
                </br>

                <h5>Photographies</h5>
                <p>Les photographies mises à votre disposition pour affichage par l'intermédiaire du Service sont fournies sous couvert d'une licence non exclusive, non transférable et dont vous êtes le seul bénéficiaire. Vous n'êtes pas autorisé à utiliser ces données autrement qu'au titre de référence pour ajouter des informations dans le cadre du Service. Vous n'êtes pas autorisé à copier, modifier ou détourner les images d'aucune manière, en tout ou partie. Vous ne pouvez pas non plus louer, divulguer, publier, vendre, louer en crédit-bail, sous-licencier, commercialiser ou transférer les images, en tout ou partie, ni les utiliser d'une manière qui ne soit pas expressément autorisée par le présent Contrat. Le fait d'utiliser le Service ne vous confère aucun droit de propriété sur les images et MonbonHLM et/ou les titulaires de licence, le cas échéant, conservent l'intégralité des droits de propriété portant sur les images. Les images sont protégées par les réglementations relatives aux droits d'auteur et ne peuvent être copiées ni modifiées ou fusionnées avec d'autres données ou logiciels.</p>

                </br>
                <h5>Contenu soumis par les utilisateurs</h5>
                <p>Une fois inscrit au Service, vous pouvez soumettre des contenus conformément aux règles du Service (ci-après désignés "Contenu soumis par les utilisateurs"). Vous êtes seul responsable de vos propres contenus et des conséquences qu'entraîne leur diffusion ou leur publication.</br>
                    </br>

                    En soumettant des contenus au Service, vous accordez à MonbonHLM une licence perpétuelle, irrévocable, mondiale, libre de droits et non exclusive autorisant la reproduction, l'adaptation, la modification, la traduction, la publication, la présentation publique, l'affichage public, la distribution de votre Contenu et la création de travaux dérivés.</br>
                    </br>
                    Vous confirmez et attestez auprès de MonbonHLM que vous êtes le détenteur du Contenu ou des droits appropriés pour concéder cette licence. Vous accordez en outre aux utilisateurs finaux des services de MonbonHLM le droit d'accéder à vos Contenus, de les utiliser et de les modifier, conformément aux Conditions d'utilisation applicables de MonbonHLM.</br>
                    </br>

                    MonbonHLM ne cautionne aucun Contenu soumis par les utilisateurs ni opinion qu'il contiendrait, et MonbonHLM réfute expressément toute responsabilité en relation avec des Contenus soumis par les utilisateurs. MonbonHLM n'autorise pas les activités portant atteinte aux droits d'auteur ou aux droits de propriété intellectuelle dans le cadre des services de MonbonHLM. MonbonHLM supprimera tout Contenu soumis par les utilisateurs pour lequel il aurait été informé, conformément au Digital Millennium Copyright Act voté aux États-Unis ou à toute autre loi applicable, que ledit Contenu enfreint les droits de propriété intellectuelle d'un tiers. MonbonHLM se réserve le droit de supprimer sans préavis n'importe quel Contenu soumis par les utilisateurs</p>


                </br>
                <h5>Règles de conduite et utilisations proscrites</h5>

                <p>Vous reconnaissez que vous êtes responsable de votre conduite et de votre contenu dans le cadre de l'utilisation du Service et de toute conséquence qui pourrait en découler. Vous vous engagez à utiliser le Service uniquement dans un cadre légal, convenable et conforme au présent Contrat. Vous vous engagez notamment, dans le cadre de votre utilisation du Service, à ne pas :</p>
                <ul>
                    <li>Diffamer, injurier, harceler, traquer, menacer autrui ni enfreindre de toute autre manière les droits d'autrui (tels que les droits relatifs à la vie privée et à l'image) ;</li>
                    </br>
                    <li>Télécharger, publier, adresser par e-mail, transmettre ni rendre disponible de toute autre manière le nom, le numéro de téléphone, l'adresse postale ou l'adresse e-mail d'un individu qui n'aurait pas lui-même rendu ces informations publiquement consultables ;</li>
                    </br>
                    <li>Télécharger, publier, adresser par e-mail, transmettre ni rendre disponible de toute autre manière un contenu inadéquat, diffamatoire, non autorisé, obscène ou illégal ;</li>
                    </br>
                    <li>Télécharger, publier, adresser par e-mail, transmettre ni rendre disponible de toute autre manière un contenu qui serait protégé par les lois sur les droits d'auteur, les marques commerciales, les secrets commerciaux, les brevets ou tout autre droit de propriété d'un tiers, sauf si vous êtes propriétaire de ces droits ou disposez des autorisations appropriées de leur propriétaire pour diffuser ce contenu ;</li>
                    </br>
                    <li>Soumettre des contenus tels qu'une route, un commerce ou un service, un parc ou tout autre point d'intérêt qui ne correspondrait pas aux images disponibles dans le Service ;</li>
                    </br>
                    <li>Créer ni identifier un contenu tel qu'une route, un commerce ou un service, un parc ou tout autre point d'intérêt d'une manière dont vous savez, ou devriez normalement savoir, qu'elle est incorrecte ;</li>
                    </br>
                    <li>Modifier le contenu d'un autre utilisateur d'une manière dont vous savez, ou devriez normalement savoir, qu'elle est incorrecte ;</li>
                    </br>
                    <li>Télécharger, publier, adresser par e-mail, transmettre ni rendre disponible de toute autre manière du spam, notamment des messages promotionnels de systèmes de vente pyramidale, des lettres-chaîne, des messages commerciaux ou publicitaires perturbateurs, ou tout élément prohibé par la loi, par ces Conditions d'utilisation ou par les règles et directives applicables ;</li>
                    </br>
                    <li>Télécharger un fichier publié par une personne pour lequel vous savez, ou êtes censé savoir, que la loi n'autorise pas la distribution par ce biais ; usurper l'identité d'une autre personne physique ou morale, falsifier ou supprimer des mentions de droits d'auteur, des mentions légales, des indications de droits de propriété ou des libellés concernant l'origine ou la source de logiciels ou d'autres éléments ;</li>
                    </br>
                    <li>Empêcher partiellement ou totalement un autre utilisateur d'accéder au Service et d'en bénéficier ;</li>
                    </br>
                    <li>Utiliser le Service à des fins illégales ou interdites ; supprimer les mentions légales relatives aux droits d'auteur, aux marques commerciales et aux droits de propriété qui figurent dans le Service ou les documents afférents ;</li>
                    </br>
                    <li>Gêner ou interrompre les services de MonbonHLM, ou les serveurs ou réseaux connectés aux services de MonbonHLM, ni violer les exigences, procédures, directives ou réglementations des réseaux connectés aux services de MonbonHLM et incluant le Service ;</li>
                    </br>
                    <li>Utiliser un robot, un renifleur/aspirateur de site, ou tout autre dispositif pour récupérer ou indexer tout ou partie des services de MonbonHLM, y compris le Service, ou pour collecter des informations sur les utilisateurs à des fins non autorisées ;</li>
                    </br>
                    <li>Soumettre un contenu prétendant ou impliquant faussement qu'il constitue un contenu cautionné ou parrainé par MonbonHLM ;</li>
                    </br>
                    <li>Promouvoir ou fournir des instructions sur des activités illégales, ni promouvoir la violence physique ou morale envers un groupe ou une personne ; ni transmettre des virus, vers, défauts, chevaux de Troie ou tout autre élément de nature destructrice.</li>
                    </br>
                </ul>

                <p>Les utilisateurs des différents pays s'engagent à respecter les règles en vigueur dans leur pays en matière d'activité en ligne et de contenu acceptable, notamment les lois régissant l'exportation de données vers les États-Unis ou leur pays de résidence. Bien que MonbonHLM interdise le type de comportement et de contenu décrit ci-dessus, vous reconnaissez et acceptez que MonbonHLM puisse ou non vérifier préalablement les Contenus soumis par les utilisateurs et autres contenus et se réserve le droit (sans y être obligé), à sa seule discrétion, de vérifier, refuser ou supprimer tout Contenu soumis par les utilisateurs ou autre contenu en relation avec le Service.</p>
                </br>

                <h5>Clause de non-responsabilité</h5>
                <p>Vous reconnaissez et acceptez que tout contenu (y compris d'autres Contenus soumis par les utilisateurs) rendu disponible ou accessible par l'intermédiaire du Service est fourni "en l'état" et que vous l'utilisez à vos propres risques. MonbonHLM n'émet aucune garantie ni représentation d'aucune sorte, explicite ou implicite, résultant ou non d'une loi, notamment, mais sans s'y limiter, des garanties de contenu, de qualité, d'exactitude, d'exhaustivité, de fiabilité, d'adéquation à une fin particulière ou d'utilité, ni ne garantit que le Service sera ininterrompu ou exempt d'erreur.</p>

                </br>
                <h5>Indemnité</h5>
                <p>Vous vous engagez à protéger, à indemniser et à dégager de toute responsabilité de MonbonHLM et ses filiales, affiliés, représentants, agents, employés, annonceurs, partenaires, partenaires API, partenaires stratégiques et utilisateurs dans le cas de toute réclamation issue de tiers ou responsabilité résultant de a) votre utilisation des services de MonbonHLM, y compris la soumission de vos contenus au Service ; b) votre non-respect des présentes Conditions d'utilisation ou c) toute autre action de votre part en relation avec l'utilisation des services de MonbonHLM. Sont inclus dans tous les cas ci-dessus toutes les responsabilités ou dépenses résultant de réclamations, pertes, dommages (directs ou indirects), poursuites, jugements, frais de justice et honoraires d'avocat de quelque nature que ce soit. MonbonHLM vous adressera une notification écrite relative à toute réclamation, poursuite ou action dont MonbonHLM demande réparation.</p>

                <div class="margin-top-60"></div>

            </div>
        </div>
    </div>

    {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}


</div>
<!-- Wrapper / End -->

</body>
</html>