<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>MonbonHLM - Questions - réponses</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <div class="clearfix"></div>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Questions - Réponses</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{path ('monbon_hlm_home_homepage')}}">Accueils</a></li>
                            <li>Questions - réponses</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="headline with-border margin-bottom-30">Besoin de réponses à vos questions ? Cette page est faite pour vous !</h4>

                <!-- Accordion -->
                <div class="accordion">

                    <!-- Section 1 -->
                    <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span>Première question</h3>
                    <div>
                        <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate aliquam egestas litora torquent conubia.</p>
                    </div>

                    <!-- Section 2 -->
                    <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span>Seconde question</h3>
                    <div>
                        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. Nullam laoreet, velit ut taciti sociosqu condimentum feugiat.</p>
                    </div>

                    <!-- Section 3 -->
                    <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span>Troisième question</h3>
                    <div>
                        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="margin-top-50"></div>
    {% include "::footer.html.twig" %}
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
    {% include "::scripts.html.twig" %}
</div>
<!-- Wrapper / End -->

</body>
</html>