<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>Accueil - MonbonHLM</title>
    {% include "::base.html.twig" %}
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    {% include "::menu.html.twig" %}
    <div class="clearfix"></div>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Quartier</h2>
                    <span>Annonce disponible dans ces quartiers</span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Accueils</a></li>
                            <li>Quartiers</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>








    {% include "::footer.html.twig" %}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {% include "::scripts.html.twig" %}


</div>
<!-- Wrapper / End -->

</body>
</html>